<!DOCTYPE html>
<html>
<head>
    <title>It's </title>

    <%-stylesheets%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript">
        forge = {disableNativeCode: true};
    </script>
    <%-scripts%>
    <% stylesheet('stylesheets/style.css') -%>
</head>
<body>
<header>
    <%-blocks.header%>
</header>
<section>
    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>

</body>
</html>